.breadTop {
    height: 10%;
    width: 80%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    box-shadow: inset -15px 0 #c15711;
    margin: 2% auto;
    position: relative;
}

.breadBottom {
    height: 10%;
    width: 80%;
    background: linear-gradient(#F08E4A, #e27b36);
    border-radius: 0 0 30px 30px;
    box-shadow: inset -15px 0 #c15711;
    margin: 2% auto;
}

.burger {
    overflow: auto;
    height: 280px;
}

.noIngredientsMessage {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
} 